  *{
            margin: 0px;
            padding: 0px;
        }
        .header{
         width: 100%;
        }
     .logo{
         display: flex;
         align-items: center;
         align-items: center;
         gap: 30px;        
         padding: 10px 50px;
         font-size: 14px;
     }
     .logo img{
         height: 15px;
         width: 20px;
         margin-right: 4px;
         margin-top: 5px;
     }
     .logo a{
         text-decoration: none;
     }
     .navbar {
        position: relative;
  }
     .navbar{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 50px;
     }
     .nav-links{
        display: flex;
        gap: 30px;   
        align-items: center;
}
     .nav-links a{
        margin-top: 18px;
        text-decoration: none;
     }
     .img-box{
        position: relative;
     }
     .img-box img{
        margin-top: 10px;
        width: 100%;
     }
     .btn{
      background: black;
      color: white;
      padding: 8px 15px;
      border-radius: 20px;
}
     .text{
        position: absolute;
        top: 40%;
        left: 26%;
        color: white;
     }
     .text h1{
        font-size: 40px;
     }
     .text h2{
        font-size: 40px;
     }
     .location{
        position: absolute;
        top: 33%;
        left: 26%;
        background-color: white;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: 3px;
     }
     .canada{
        color:red;
     }
     .feature{
        margin: 10%;
     }
     .feature-top{
        position: absolute;
        top: 153%;
        left: 35%;
     }
     .feature-top h4{
        color: red;
     }
     .feature-top h1{
        font-size: 45px;
     }
     .faq{
        position: absolute;
        top: 180%;
        left: 35%;
        height: 200px;
        width: 350px;
     }
     .faq details{
     background:#f4f4f4;
     padding:12px;
     margin:8px 0;
     cursor:pointer;
     }

     .faq p{
     background:white;
     padding:10px;
     border-left:3px solid orange;
     }
     .icon{
     position: absolute;
     top: 209%;
     left: 8%;
     background-color: red;
     padding: 10px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     }
      .card-box{
      width: 300px;
      top: 148%;
      left: 70%;
      position: absolute;
     }  
     .card-box{
      width: 280px;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
     }

     .card-item{
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 30px 0;
      border-bottom: 1px solid #eee;
     }

     .card-item:last-child{
      border-bottom: none;
     }
     .bg{
        width: 100%;
        height: 380px;
        top: 1550px;
        left: 270px ;
     }
     .frame{
        position: absolute;
        top: 1950px;
        left: 350px;
        width: 800px;
        height: 300px;
        border-radius: 7px;
     }
    .button{
         position: absolute;
         top: 2110px;
         left: 750px;
         transform: translate(-50%, -50%);
         width: 50px;
         height: 50px;
         background: red;
         border-radius: 50%;
         box-shadow: 3px 3px 5px;
     }
     .button::before{
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-40%, -50%);
         border-left: 20px solid white;
         border-top: 12px solid transparent;
         border-bottom: 12px solid transparent;
     }
     .view{
          position: absolute;
          top: 250%;
          left: 43%;
          color: white;
     }
     .view h5{
        position: absolute;
          font-size: 10px;
          font-family: Arial;
          top: -20px;
          left: 39px;
          color:orangered;
     }
    .stats-cards{
    display:flex;
    justify-content:center;
    gap:100px;
    margin-top:200px;
}

.card-one{

    position:relative;
    width:190px;
    height:30px;
    background-color: #ffe9e6; 
    border-radius:10px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:15px;
}

.card-one h1{
    color:orangered;
    margin:0;

}

.card-one p{
    margin:0;
}

.circle{
    width:32px;
    height:32px;
    background:orangered;
    border-radius:50%;
    position:absolute;
    right:-10px;
    top:-10px;
}
   .deal{
padding:80px;
background:#fafafa;
}

.deal-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:50px;
margin-left: 70px;
}

.small{
color:red;
font-size:14px;
font-weight: bold;
}

.deal-buttons button{
padding:10px 20px;
border:none;
margin-left:10px;
background:black;
color:white;
border-radius:5px;
cursor:pointer;
}

.deal-buttons .active{
background:orangered;
}
.deal-buttons{
   margin-right: 230px;
   margin-top: 80px;
}
.deal-container{
display:flex;
gap:60px;
align-items:center;
justify-content: center;
}

.info-card{
background:white;
padding:30px;
border-radius:10px;
width:200px;
box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.info-row{
display:flex;
justify-content:space-between;
padding:12px 0;
border-bottom:1px solid #eee;
}
.info-row span{
   color: rgb(186, 183, 183);

}
.info-row:last-child{
border:none;
}


.deal-image img{
width:500px;
height: 350px;
/* border-radius:px; */
}

.deal-text{
width:350px;
margin-left: 10px;
}

.deal-text h3{
margin-bottom:15px;
}

.deal-text p{
font-size:14px;
color:#666;
margin-bottom:15px;
}

.visit-btn{
   display: flex;
   background:black;
   color:white;
   padding:9px 20px 9px 20px;
   border:none;
   border-radius:30px;
   cursor:pointer;
   align-items: center;
   font-size: 14px;
 }
 .property h4{
       font-weight: bold;
        color: red;
        position: absolute;
        left: 700px;
 }
 .property h1{
   position: absolute;
   left: 630px;
   top: 3280px;
 }
 /*---- properties----- */
   body{
font-family:Arial;
}

.title{
text-align:center;
margin:30px;
}
.titles{
    color: red;
    text-align:center;
    margin:15px 0;
    font-size: 13px;
    font-weight: bold;
}
.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
width:70%;
margin:auto;
}

.card{
background:rgb(243, 243, 243);
padding:20px;
border-radius:10px;
display:flex;
flex-direction:column;
}

.card img{
width:100%;
border-radius:10px;
}

.top{
display:flex;
justify-content:space-between;
margin-top:10px;
align-items:center;
}

.tag{
background:#f0d6d2;
color: black;
padding:6px 12px;
border-radius:10px;
font-size:13px;
border: none;
}

.price{
color:#ff5a3c;
font-weight:bold;
}

.card h3{
margin:10px 0;
}

.details{
font-size:13px;
color:gray;
display:flex;
flex-wrap:wrap;
gap:10px;
margin-bottom:15px;
flex-grow:1;
}

.card-buttons{
background:black;
color:white;
border:none;
padding:8px 15px;
border-radius:20px;
cursor:pointer;
margin-left: 50px;
margin-top: 20px;
margin-right: 50px;
}
/* ---contact page----- */
.contact-bg{
position:relative;
text-align:center;
}

.contact{
width:100%;
height:500px;
object-fit:cover;
}

.contact-text{
position:absolute;
top:20%;
left:50%;
transform:translate(-50%,-50%);
color:white;
text-align:center;
}

.contact-text h3{
color:#ff5a3c;
font-size:12px;
}

.contact-text h1{
font-size:30px;
}

/* container */

.contact-container{
display:flex;
justify-content:center;
gap:40px;
width: 70%;
margin: auto;
margin-top:-320px;
position: relative;
z-index: 2;
}

/* map */

.map{
width:50%;
}

.map iframe{
border-radius:10px;
margin-top: 120px;
}

/* cards */

.contact-cards{
display:flex;
gap:30px;
margin-top:30px;
}
.email-card{
margin-left: 60px;
}

.phone-card,
.email-card{
background:white;
padding:25px 40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
display:flex;
align-items:center;
gap:10px;
}
.phone-card img,
.email-card img{
   width: 30px;
} 
.phone-card h4,.email-card h4{
   font-size: 16px;
   
}
.phone-card p,.email-card p{
   font-size: 12px;
}

/* form */

.contact-form{
width:300px;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
display:flex;
flex-direction:column;
margin-top: 120px;
}

.contact-form input,
.contact-form textarea{
margin:10px 0px;
padding:7px;
border-radius:20px;
border:0px solid #ddd;
background-color: #f1f1f1;

}

.contact-form textarea{
height:90px;
}

.contact-form button{
margin-top:35px;
padding:10px;
background:black;
color:rgb(241, 240, 240);
border:none;
border-radius:20px;
margin-right: 185px;
}
/* ---footer----- */
footer{
   margin-top: 20px;
background:#333;
color:white;
text-align:center;
padding:35px;
}

